<div class="container">
  <h2><%= @listing.title %></h2>
  <p>Description : <%= @listing.description %></p>
  <p>Vendor : <%= @listing.user.vendor_name %></p>
  <p>Location : <%= @listing.location %></p>
  <p>Activity duration : <%= @listing.duration %> hours</p>

  <%= link_to "Back to see all tours", listings_path%> <br>
  <% if current_user.user_type == 'vendor' %>
    <%= link_to 'Edit Listing', edit_listing_path %> <br>
    <%= link_to "Delete", listing_path(@listing), data: {turbo_method: :delete, turbo_confirm: "Are you sure?" }%>
  <% end %>
</div>
